.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login-content {
    border: 1px solid var(--secondary-color);
    padding: 1rem;
    border-radius: 5px;
}
.form-field-column {
    display: flex;
    flex-direction: column;
    width: 100%;

    input {
        outline: none;
        padding: .5rem;
        margin: 0 0 1rem 0;
        min-width: 400px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }
}

.submit-button {
    padding: .5rem;
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
}