@use 'sass:color';

:root {
    --primary-color: #004990;
    --secondary-color: rgb(221.25, 221.25, 221.25);
    --success-color: #28a745;
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
}

html, body {
    font-family: 'Roboto', sans-serif;
    background-color: #eaeaea;
    color: #2a2929;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    flex: 1;
    padding: 1rem;
}
.text-center {
    text-align: center;
}

.custom-link {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    &:hover {
        text-decoration: underline;
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.is-invalid {
    color: var(--danger-color);
}
.is-valid {
    color: var(--success-color);
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: #2a2929;
    &:hover {
        background-color: color.scale(#d9d9d9, $blackness: 10%);
    }
}

.btn-primary {
    background-color: var(--primary-color);
    color: #fff;
    &:hover {
        background-color: color.scale(#004990, $blackness: 10%);
    }
}